@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* HEADER */

body {
  margin: 0;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  height: 10rem;
}

.App-header a {
  text-decoration: none;
  color: white;
}

/* MENU */

.App-menu {
  letter-spacing: 0.2ch;
  border-right: 1px solid black;
  word-wrap: break-word;
}

.App-menu h2 {
  font-size: 1.7rem;
  text-align: center;
}

p {
  width: 12rem;
  text-align: center;
}

p a {
  color: #aca5cf;
  text-decoration: none;
  font-size: 1.2rem;
}

/* CONTENU */

div.addJury {
  margin: 1rem;
}

div.addJury {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
}

.App-content {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.fetching {
  margin-top: 2rem;
}

.data {
  margin-top: 3rem;
}

.App-content h1 {
  text-align: center;
  margin-bottom: 4rem;
}

.data ul {
  list-style: none;
  padding: 1rem;
  background-color: #282c34;
  border-radius: 10px;
  color: white;
  font-size: 1.5rem;
}

li {
  line-height: 2.5rem;
}

/* bouton catégorie */
#category {
  margin-left: 1rem;
  width: 15rem;
  padding: 1rem;
  font-size: 1.5rem;
}

/* select categories */
#categories {
  width: 22rem;
  padding: 1rem;
  font-size: 1.5rem;
}

/* bouton email */
#email_button {
  margin-left: 1rem;
  width: 15rem;
  padding: 1rem;
  font-size: 1.5rem;
}

.pagination {
  font-size: 3rem;
  width: 50%;
  margin: auto;
}

/* PAGE COMPLETE */

.App-page {
  display: flex;
}

.register-form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.register-form-group input {
  margin-top: 1rem;
}
.register-form-group label {
  margin-top: 1rem;
}
.register-form-group small {
  margin-top: 1rem;
}

div.notConnectd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  background-color: #282c34;
  border-radius: 10px;
  color: white;
  font-size: 1.5rem;
}

.loginForm label {
  margin-top: 1rem;
}

.loginForm input {
  margin-bottom: 1rem;
  font-size: 2rem;
}
